@{
    ViewData["Title"] = "Challenge Not Available";
}
<div class="text-center">
    <h3 class="alert-danger">Challenge with kid: @ViewBag.Kid does not exists</h3>
    <div>
        <a class="btn-primary btn-lg" asp-controller="Home" asp-action="Index">Back To Homepage</a>
    </div>
</div>
