@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>Druk op de knop om een challange aan te maken</p>
    <a class="btn-secondary btn-lg">Druk hier om verder te gaan</a>
</div>
