@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn-secondary btn-lg" asp-controller="Home" asp-action="Challenge">Create a new challenge</a>
    <h3>I have a challenge ID (kid)</h3>
    <form method="post" asp-controller="Home" asp-action="Challenge" style="margin: 10px 0px">
        <input type="number" name="kid" />
        <button class="btn-secondary" type="submit">Retrieve challenge</button>
    </form>
</div>
